---
---

@import "portfolYOU";
.skill-bar.skill-bar-python { background: #FFE873; }
.skill-bar.skill-bar-c { background: #639bd3; }
.skill-bar.skill-bar-swift { background: #fc3d39; }
.skill-bar.skill-bar-java { background: #5382a1; }
.skill-bar.skill-bar-go { background: #29BEB0; }

#attribution { opacity: 0.0; content: ""; pointer-events: none; cursor: default;}
#attribution a { text-decoration: none; font-weight: bold; pointer-events: none; cursor: default;}